[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AnHup
[access "refs/for/refs/*"]
	read = group user/AnHup
	push = group user/AnHup
	label-Code-Review = -2..+2 group user/AnHup
	label-Verified = -1..+1 group user/AnHup
	rebase = group user/AnHup
	removeReviewer = group user/AnHup
	submit = group user/AnHup
[access "refs/heads/*"]
	read = group user/AnHup
	create = group user/AnHup
	push = +force group user/AnHup
	pushMerge = group user/AnHup
[access "refs/tags/*"]
	push = +force group user/AnHup
	createTag = group user/AnHup
	createSignedTag = group user/AnHup
